div.menu-card {
    background: #2a3340;
    color: #f2a007;
    font-weight: bold;
    display: flex;
    width: 200px;
    height: 80px;
    align-items: center;
    justify-content: center;
    margin: 5px;
    border-radius: 6px;
    box-shadow: 1px 1px 1px 1px #7f7f81;
    
}