button {
    border-radius: 8px;
    width: 25px;
    height: auto;
    background: #08086D;
    color: #FFF;
    font-weight: 20px;
    text-align: center;
}

button:active {
    background: lightseagreen;
}