button {
    border-radius: 8px;
    width: 25px;
    height: auto;
    background: #A62205;
    color: #F2A007;
    font-weight: 20px;
    text-align: center;
}

button:active {
    background: #D9A05B;
}