div.logo {
    align-items: center;
    justify-content: center;
}
section.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

div.nav {
    width: 450px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
}