div.logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 35%;
}

.logo img {
    max-width: 400px;
    border-radius: 500px;
    background: #F2A007;
    
}

section.main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    max-width: 100%;
    max-height: 100%;
}

div.nav {
    width: 450px;
    height: auto;
    margin: 0 auto;
    padding: 30px;
    /* margin-left: 22%; */
}

h1{
    font-size: 50px;
    text-shadow: 0 0.5rem 0.8rem #00000080;
}