body {
    background: #fafafa;
    color: #333
}

section {
    display: flex;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
}

section.allday-menu {
    flex-direction: column;
}

form.order-list {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: flex-end;
    border: 2px solid black
}

div.menu {
    
    border: 2px solid black;
    width: 450px;
    height: 400px;
}

button.send-order {
    width: 200px;
    font-size: 20px;
    font-weight: bold;
}



