body {
    background: #fafafa;
    color: #333
}

div.client-data {
    display: flex;
    justify-content: flex-end;
    border: 2px solid black;
    width: 400px;
    
}

section {
    display: flex;
    padding: 5px;
    margin: 10px;
    font-weight: bold;
}

section.allday-menu {
    flex-direction: column;
}

section.order-list {
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    justify-self: flex-end;
    border: 2px solid black
}

div.menu {
    
    border: 2px solid black;
    width: 450px;
    height: 400px;
}



