.kitchen-card {
    border: 3px solid #e09a2e;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    margin: 10px;
    max-width: 80%;
}
.main-kitchen {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media (max-width: 600px) {
    .kitchen-card {
        border: 3px solid #e09a2e;
        border-radius: 10px;
        background: #fff;
        padding: 10px;
        margin: 10px;
        max-width: 80%;
    }
    .main-kitchen {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}