@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  background: none;
  font-family: Righteous, cursive;
}

body {
  background: pink;
}

