@import url('https://fonts.googleapis.com/css?family=Righteous&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  background: #eceae9;
}

body {
  margin: 0;
  padding: 0;
  font-family: Righteous, cursive;
}


