nav {
    display:flex;
    align-items: center;
    justify-content: center;
        
}

li {
    cursor: pointer;
    padding:30px 40px;
    margin:0px 2px;
    background: #2A3340;
    display: inline-block;
    color:#F2A007;
    border-radius: 60px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
    font-size: 30px;
}

.tab {
    display: none;
}

a {
    color: #F2A007;
    text-decoration: none;
}

ul {
    display: flex;
}
