nav {
    display:flex;
    align-items: center;
    justify-content: center;
    
}

li {
    cursor: pointer;
    padding:30px 40px;
    margin:0px 2px;
    background:#08036d;
    display: inline-block;
    color:#fff;
    border-radius:3px 3px 0px 0px;
    box-shadow: 0 0.5rem 0.8rem #00000080;
    font-size: 30px;
}

.tab {
    display: none;
}
