div {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

div.logo-waiter {
    margin: 0;
    display: flex;
    justify-content: center;
    background: rgb(242, 160, 7);
    width: 900px;
    box-sizing: border-box;
    box-shadow: 0 0.5rem 0.8rem #00000080;
}

div h1 {
    margin-top: 20px;;
}

div.menu {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px;
    max-height: 700px;
    background: #efefef;
        
}

.logo-waiter img {
    max-width: 100px;
}

.input {
    position: absolute;
    opacity: 0;
}

.label {
    width: 100%;
    padding: 20px 30px;
    background: #08036d;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    transition: background 0.1s, color 0.1s;
}
  
.label:hover {
    background: #d8d8d8;
}
  
.label:active {
    background: lightseagreen;
}
  
.input:focus + .label {
    box-shadow: inset 0px 0px 0px 3px #2aa1c0;
    z-index: 1;
}
  
.input:checked + .label {
    background: lightseagreen;
    color: #fff;
}
  
@media (min-width: 600px) {
    .label {
      width: auto;
    }
}

#panel {
    display: none;
    padding: 20px 30px 30px;
    background: #fff;
  }
  
  @media (min-width: 600px) {
    #panel {
      order: 99;
    }
  }
  
  .input:checked + .label + #panel {
    display: flex;
  }

div.main-div {
    border: 3px solid #e09a2e;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px grey;
    align-items: flex-start;
    align-self: flex-start;
}

.breakfast-menu, .allday-food, .allday-drinks {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

form {
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow-y: scroll;
}

input.send {
    align-self: center;
    justify-self: center;
    
}
