div.home {
    padding: 0;
}

section.main-section {
    margin-top: 0;
}

img {
    max-width: 50px;
}

div {
    margin: 0;
    padding: 0;
    max-width: 100%;
    max-height: 100%;
}

div.main-div {
    border: 3px solid #e09a2e;
    border-radius: 10px;
    background: #fff;
    padding: 10px;
    box-shadow: 1px 1px 1px 1px grey;
    align-items: flex-start;
    align-self: flex-start;
}

.breakfast-menu, .allday-food, .allday-drinks {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    height: 400px;
}

input.send {
    align-self: center;
    justify-self: center;
    
}
